# Playground (temp.)

## Imports
### Project stuff

In [1]:
from pmonlib.provider import Provider
from pmonlib.gfx import Gfx
provider = Provider()
gfx = Gfx()

### 3rd party packages

In [5]:
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
""" idc = ['b104', 'b105', 'b106', 'b107']

for idx in idc:
    fn = f'assets/img/{idx}.svg'
    print(fn)
    fig = gfx.get_pic(id)
    fig.savefig(fn, format='svg')
    [fig, type(fig)] """

" idc = ['b104', 'b105', 'b106', 'b107']\n\nfor idx in idc:\n    fn = f'assets/img/{idx}.svg'\n    print(fn)\n    fig = gfx.get_pic(id)\n    fig.savefig(fn, format='svg')\n    [fig, type(fig)] "

In [8]:
info = pd.read_csv('dta/fullinfo.csv')
info['title_len'] = info['title'].str.len()
info['area'] = info['w'] * info['h']
info

,id,year,title,w,h,complexity,title_len,area
0,b104,1920,No. VI,1010,1007,41,6,1017070
1,b105,1920,Composition A,918,900,42,13,826200
2,b106,1920,Composition B,575,677,41,13,389275
3,b107,1920,Composition C,610,603,44,13,367830
4,b108,1920,Composition I,646,750,44,13,484500
...,...,...,...,...,...,...,...,...
131,b292,1939,Composition no. 1,1023,1052,31,17,1076196
132,b293,1939,"Composition of red, blue and white: II",330,435,26,38,143550
133,b294,1939,Trafalgar Square,1200,1452,62,16,1742400
134,b295,1939,Composition no. 8,681,752,47,17,512112
135,b296,1940,Composition no. 11,711,825,49,18,586575

In [ ]:
info['title_len'].max()
info.to_csv('dta/fullinfo.csv')

np.int64(70)